@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Admin</h2>

<ul>
    <li>
        @Html.ActionLink("Add user", "AddUser")
    </li>
    <li>
        @Html.ActionLink("Get users", "GetUsers")
    </li>
</ul>


