@model GreenHouse.ViewModels.DeviceViewModel

@{
    ViewBag.Title = "DeviceCreated";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>DeviceCreated</h2>

<div>
    Device @Model.Name has been successefuly created.
</div>
