@model IEnumerable<GreenHouse.ViewModels.DeviceViewModel>

@{
    ViewBag.Title = "GetDevices";
    Layout = "~/Views/_Layout.cshtml";
}

@if(Model.Any())
{
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Summary</th>
        </tr>
    
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Summary</td>
        </tr>
    
        }
    </table>
}