@model IEnumerable<GreenHouse.ViewModels.SensorTypeViewModel>

@{
    ViewBag.Title = "Sensor types";
    Layout = "~/Views/_Layout.cshtml";
}

@if(Model.Any())
{
    <table class="table table-hover">
        <tr>
            <th>TypeName</th>
            <th>Dimension</th>
        </tr>
    
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.TypeName</td>
            <td>@item.Dimension</td>
        </tr>
    
        }
    </table>
}