@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<br />
<br />
<h4 class="text-center">
    Sensors data map.
</h4>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Script/RealTimeDataProvider.js"></script>

@Html.Partial("SensorMap", (GreenHouse.ViewModels.SensorMapViewModel)ViewBag.SensorMap1)
