@model GreenHouse.ViewModels.SensorTypeViewModel

@{
    ViewBag.Title = "AddSensorType";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>SensorType</h2>

<div>Sensor type @Model.TypeName was added.</div>
