/Web/GreenHouse.Interfaces/obj/Debug
/Web/GreenHouse.Repository/obj/Debug
/Web/GreenHouse/obj/Debug
/Web/GreenHouse.Database/bin/Debug
/Web/GreenHouse.Database/obj/Debug
/Web/GreenHouse.Interfaces/bin/Debug
/Web/GreenHouse.Repository/bin/Debug
/Web/GreenHouse/bin
/Web/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/*.dll
/Web/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/*.dll
/Web/packages
/Web/*.suo
/Web/GreenHouse.Database/*.dbmdl
/GreenHouseMicro/*.suo
/GreenHouseMicro/TcpListener/bin/Release
/GreenHouseMicro/TcpListener/obj/Release
/GreenHouseMicro/MicroWebServer/Release
/GreenHouseMicro/GreenHouseMicro/Release
/GreenHouseMicro/StaticIp/Release
/GreenHouseMicro/TestWebClient/Release
/GreenHouseMicro/WiFiTest/Release
*.suo
/GreenHouseMicro/CryptoTest/obj/Debug
/GreenHouseMicro/TcpListener/bin/Debug
/GreenHouseMicro/TcpListener/obj/Debug
/GreenHouseMicro/GreenHouseMicro.VC.db
/Web/.vs/config/applicationhost.config
/Web/DeviceSimulator/bin/Debug
/Web/DeviceSimulator/obj/Debug
/Web/FunWithEf/bin/Debug
/Web/FunWithEf/obj/Debug
/Web/Greenhouse.Core/bin/Debug
/Web/Greenhouse.Core/obj/Debug
/Web/GreenHouse.EfRepository/bin/Debug
/Web/GreenHouse.EfRepository/obj/Debug
/Web/PasswordHashGenerator/bin/Debug
/Web/PasswordHashGenerator/obj/Debug
