/Web/GreenHouse.Interfaces/obj/Debug
/Web/GreenHouse.Repository/obj/Debug
/Web/GreenHouse/obj/Debug
/Web/GreenHouse.Database/bin/Debug
/Web/GreenHouse.Database/obj/Debug
/Web/GreenHouse.Interfaces/bin/Debug
/Web/GreenHouse.Repository/bin/Debug
/Web/GreenHouse/bin
/Web/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/*.dll
/Web/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/*.dll
/Web/packages
/Web/*.suo
/Web/GreenHouse.Database/*.dbmdl
/GreenHouseMicro/*.suo
/GreenHouseMicro/TcpListener/bin/Release
/GreenHouseMicro/TcpListener/obj/Release
/GreenHouseMicro/MicroWebServer/Release
/GreenHouseMicro/GreenHouseMicro/Release
/GreenHouseMicro/StaticIp/Release
/GreenHouseMicro/TestWebClient/Release
/GreenHouseMicro/WiFiTest/Release
*.suo
/GreenHouseMicro/CryptoTest/obj/Debug
/GreenHouseMicro/TcpListener/bin/Debug
/GreenHouseMicro/TcpListener/obj/Debug
/GreenHouseMicro/GreenHouseMicro.VC.db
/Web/.vs/config/applicationhost.config
/Web/DeviceSimulator/bin/Debug
/Web/DeviceSimulator/obj/Debug
/Web/FunWithEf/bin/Debug
/Web/FunWithEf/obj/Debug
/Web/Greenhouse.Core/bin/Debug
/Web/Greenhouse.Core/obj/Debug
/Web/GreenHouse.EfRepository/bin/Debug
/Web/GreenHouse.EfRepository/obj/Debug
/Web/PasswordHashGenerator/bin/Debug
/Web/PasswordHashGenerator/obj/Debug
/Web/DeviceSimulator/obj/Release
/Web/FunWithEf/obj/Release
/Web/GreenHouse/obj/Release
/Web/Greenhouse.Core/bin/Release
/Web/Greenhouse.Core/obj/Release
/Web/GreenHouse.EfRepository/bin/Release
/Web/GreenHouse.EfRepository/obj/Release
/Web/GreenHouse.Interfaces/bin/Release
/Web/GreenHouse.Interfaces/obj/Release
/Web/GreenHouse.Repository/bin/Release
/Web/GreenHouse.Repository/obj/Release
/Web/PasswordHashGenerator/obj/Release
/Web/GreenhouseApp/GreenhouseApp/bin/Debug
/Web/GreenhouseApp/GreenhouseApp/obj/Debug
/Web/GreenhouseApp/GreenhouseApp.Droid/bin/Debug
/Web/GreenhouseApp/GreenhouseApp.Droid/obj/Debug
/Web/GreenhouseApp/GreenhouseApp.iOS/obj/iPhone/Debug
/Web/GreenhouseApp/GreenhouseApp.Windows/obj/Debug
/Web/PasswordHashGenerator/bin/Release
/GreenHouseMicro/CryptoTest/obj/Release/CryptoTest.csproj.CoreCompileInputs.cache
/Web/GreenhouseApp/GreenhouseApp/obj/Release
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Web/.vs/GreenHouse/v15/sqlite3/storage.ide
Web/GreenHouse.Database/GreenHouse.Database.jfm
Web/UpgradeLog.htm
Debug/
__vm/
.vs/
*.filters
*.vcxitems
*.vcxproj
GreenHouseMicro/NodeMcu1_0WiFi/SensitiveSettings.h
Web/GreenHouse/Properties/PublishProfiles/FolderProfile.pubxml
